@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/*general*/
.row,
.col {
    padding: 0;
    margin: 0;
}

nav {
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~index~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~index~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~section one~~~~~~~~~~~~~~~~~~~~~~~*/
.purpose-news {
    margin-bottom: 40px;
}

.purpose>.row {
    border-radius: 20px;
    background-color: rgb(157, 255, 157);
    max-width: 524px;
    margin: auto;
    height: 600px;
}

.hero-img {
    background-image: url(/assets/images/satellite1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 56.5076335878vw;
    max-height: 329px;
    max-width: 524px;
    border-radius: 20px;
    background-position: center;
}

@media only screen and (max-width: 575px) {
    .hero-img {
        height: 56.5076335878vw;
    }
}

.hero-text {
    max-width: 524px;
}

.hero-text p {
    text-align: justify;
    padding: 10px;
}

.hero-text h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.news {
    background-color: wheat;
    padding-top: 24px;
    border-radius: 10px;
    height: 600px;
    overflow-y: scroll;
}

.news h2 {
    text-align: center;
    margin-bottom: 20px;
}

.news-title {
    padding: 0;
    text-align: justify;
}

.news-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.news h3 {
    color: black;
    font-size: medium;
}

.news h3:hover {
    text-decoration: underline;
}

/*~~~~~~~~~~~~~~~~~~~~~~~section two~~~~~~~~~~~~~~~~~~~~~~~*/
.link-wrapper {
    width: 80%;
    margin: auto;
}

.link-header {
    text-align: center;
    margin-bottom: 20px;
}

.link-container {
    height: 15vw;
    border-radius: 20px;
    background-color: rgb(127, 255, 212);
    margin-bottom: 20px;
}

.link-container:hover {
    border: 1px solid rgb(79, 155, 129);
}

.link-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    border-radius: 20px;
}

.link-title {
    text-align: center;
    margin: auto 0;
    color: black;
}

@media only screen and (max-width: 575px) {
    .link-wrapper {
        width: 100%;
        margin: 0;
    }

    .link-img {
        height: 250px;
    }

    .link-container {
        height: 300px;
    }

    .link-title {
        height: 50px;
        position: relative;
    }

    .links {
        padding: 20px;
    }

    .links h3 {
        position: absolute;
        font-size: smaller;
        margin: auto;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~footer~~~~~~~~~~~~~~~~~~~~~~~*/
footer {
    background-color: rgb(233, 126, 255);
}

/*~~~~~~~~~~~~~~~~~~~~~~~orbit~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~orbit~~~~~~~~~~~~~~~~~~~~~~~*/

.accordion-img {
    height: 250px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    background-position: center center;
}

.demo-img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    background-position: center center;
}

.demo-img>a {
    height: 500px;
    width: 100%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~examples~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~examples~~~~~~~~~~~~~~~~~~~~~~~*/


